.geo-location-form {
  margin: 10px 10px;
}

.inputs-container{
  display: flex; 
  flex-direction: row ;
  gap: 10px; 
}

.input-container {
  width: 120px;
  margin-bottom: 15px;
}

label {
  display: block;
}

input {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.error {
  border-color: red;
}

.error-msg {
  color: red;
  font-size: 14px;
}